{% extends "master.html" %}

{% block menu %}
  {% include 'menu-inner.html' %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Ghi Nhận Hồ Sơ Khám</h2>
    <div class="card shadow-lg p-5 rounded-4 border-light">
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
                        <div>
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-3 d-flex justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary w-100 py-3 rounded-pill shadow-sm">Lưu Hồ Sơ</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .btn-primary {
        background-color: #0069d9;
        border-color: #0062cc;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .card {
        background-color: #ffffff;
        border-radius: 1.25rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border: none;
    }

    .form-label {
        font-size: 1.1rem;
        color: #34495e;
        font-weight: 500;
    }

    .form-control, .form-control:focus {
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 15px;
        font-size: 1rem;
        box-shadow: none;
    }

    .form-control:focus {
        border-color: #0069d9;
        box-shadow: 0 0 5px rgba(0, 105, 217, 0.5);
    }

    .container {
        background-color: #f4f6f9;
        padding: 50px 30px;
        border-radius: 1.5rem;
    }

    .shadow-lg {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }

    .rounded-4 {
        border-radius: 1.5rem;
    }

    .rounded-pill {
        border-radius: 50px;
    }

    .mb-4 {
        margin-bottom: 1.5rem !important;
    }

    .w-100 {
        width: 100%;
    }
    .text-primary {
        color: #007bff !important;
    }

    .text-muted {
        color: #6c757d !important;
    }

    .fw-bold {
        font-weight: 700 !important;
    }

    .fw-medium {
        font-weight: 500 !important;
    }
</style>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

